body {
    background-color: #252525;
}

#gameDiv {
    margin: 20px 5px 20px 2px;
    border: 5px white solid;
    border-radius: 16px;
    width: 1080px;
    height: 720px;
    display: inline-block;
    float: left;
}

#ani-editor {
    height: 760px;
    width: 620px;
    background-color: #000;
    border: 1px #ddd solid;
    border-radius: 3px;
    display: inline-block;
    float: left;
    margin-top: 23px;
    text-align: center;
    color: #f1f1f1;
}



/**---------------------------EDITOR CLASSES-----------------------------**/
.compGroup {
    padding: 5px;
    margin: 5px;
    background-color: #000;
    border: 1px #888 dashed;
    border-radius: 5px;
    display: inline-block;
    float: left;
    width: 410px;
}

.sidePanel {
    float: right;
    margin: 5px;
    padding: 5px;
    width: 160px;
    height: 640px;
    background-color: #000;
    border: 1px #e2e2e2 solid;
}
.sidePanel button {
    margin: 8px auto;
}

.valSpan {
    display: inline-block;
    margin: 2px 5px;
}

.editSelect {
    margin: 10px auto;
    text-align: center;
    display: inline-block;
}

.editSelect select {
    display: inline-block;
    margin: 3px;
}

.editSelect label {
    display: inline-block;
    margin: 3px;
}

.editInputN {
    width: 50px;
}
.editInputLN {
    width: 75px;
}

.editVal {
    background-color: #222;
    margin: 0 0 12px 0;
}
.valSpan label {
    font-size: 0.9em;
    margin: 1px;
}
.valSpan input {
    height: 1.1em;
    font-size: 1.1em;
    line-height: 1.1em;
}
input[type=number]::-webkit-inner-spin-button { 
    cursor:pointer;
    display:block;
    color: #333;
    text-align:center;
    position:relative;
    width: 1.6em;
    height: 1.6em;
}   
.cLabel {
    margin: -2px auto 0 auto;
}

.newBtn {
    display: inline-block;
}
.btn {
    display: inline-block;
}





/**---------------------ANIMATION EDITOR COMPONENTS---------------------**/
#btnAniEditor {
    width: 100px;
    padding: 2px 5px;
    display: inline-block;
}

#nameInput {
    width: 100px;
}
}

#coordEdit input {
    font-size: 0.8em;
    height: 0.9em;
}


#newBtnDiv {
    position: relative;
}

#spriteDialog {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 140px;
    width: 180px;
    height: 80px;
    background-color: #aaa;
    border-radius: 10px;
    padding: 15px;
}

.spriteRadSpan {
    float: right;
    font-size: 0.8em;
}


/****************************************************PANEL BUTTONS*************************************/

.optGroupDiv {
    width: 90%;
    margin: 0 auto;
    background-color: #4a4a4a;
    text-align: center;
    border-radius: 5px;
    border: 1px white solid;
    padding: 5px;
    display: none;
}
.cPosOpt {
    display: none;
}






















